.main {
  width: 100%;
  min-height: 60vh;
  background-color: #28a745;
}
.hide {
  display: none;
}
.favoritesDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.saveButton {
  margin: 0 auto;
}
.spinner {
  height: 3rem;
  width: 3rem;
}

@media (min-width: 601px) {
  .main {
    min-height: 70vh;
  }
  .favoritesDiv {
    justify-content: space-around;
  }
  .empty {
    margin-top: 120px;
    min-height: 350px;
    letter-spacing: 1.2px;
  }

  .code {
    color: white;
    font-size: 1rem;
  }
  .spinner {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .main {
    min-height: 80vh;
  }
  .empty {
    min-height: 350px;
    letter-spacing: 1.4px;
  }
  .code {
    color: white;
    font-size: 1.2rem;
  }
  .spinner {
    height: 4rem;
    width: 4rem;
  }
}
