.main {
  width: 100%;
  min-height: 60vh;
  background-color: #28a745;
}
.hide {
  display: none;
}
.favoritesDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  min-height: 300px;
  text-align: center;
  line-height: 2.9;
  letter-spacing: 1px;
}
.emptyIcon {
  height: 5rem;
  width: 5rem;
}
.code {
  color: white;
  font-size: 0.8rem;
}

@media (min-width: 601px) {
  .favoritesDiv {
    justify-content: space-around;
  }
  .empty {
    margin-top: 150px;
    min-height: 350px;
    letter-spacing: 1.2px;
  }

  .code {
    color: white;
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .empty {
    margin-top: 100px;
    min-height: 350px;
    letter-spacing: 1.3px;
  }
  .code {
    color: white;
    font-size: 1.1rem;
  }
}
