.main {
  width: 100%;
  min-height: 100vh;
  background-color: #28a745;
}
.cardContainer {
  /* border: 1px solid red; */
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.spinner {
  height: 4rem;
  width: 4rem;
}
