.main {
  width: 100%;
  min-height: 100vh;
  background-color: #28a745;
}
.cardContainer {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main {
    min-height: 80vh;
  }
  .cardContainer {
    min-height: 70vh;
  }
}
@media (min-width: 1024px) {
  .main {
    min-height: 70vh;
  }
  .cardContainer {
    min-height: 60vh;
  }
}
