.savedSection {
  width: 100%;
  min-height: 60vh;
  background-color: #28a745;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  min-height: 300px;
  text-align: center;
  line-height: 2.9;
  letter-spacing: 1px;
}
.main {
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 10rem;
}
.figureCaption {
  color: #f8f9fa;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.spinner {
  height: 3rem;
  width: 3rem;
}

@media (min-width: 601px) {
  .savedSection {
    min-height: 70vh;
  }
  .empty {
    margin-top: 110px;
    min-height: 320px;
    letter-spacing: 1.2px;
  }
  .empty p {
    font-size: 1.2rem;
  }
  .figure {
    max-width: 14em;
  }
  .spinner {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .savedSection {
    min-height: 80vh;
  }
  .empty {
    letter-spacing: 1.4px;
  }
  .empty p {
    font-size: 1.3rem;
  }
  .figure {
    max-width: 17rem;
  }
  .spinner {
    height: 4rem;
    width: 4rem;
  }
}
